body {
    font-family: Roboto, sans-serif;
}
.navbar {
    background-color: #007BFF;
}

#header .nav .nav-link.active {
    background-color: #4A4A4A;
    color: #E0E0E0;
}

#header .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-travel .nav-link.active:hover {
    color: #E0E0E0;
}

.navbar-toggler {
    background-color: #E0E0E0;
}

.carousel-item img {
    max-height: 85vh;
    width: 100%;
}

.section-title {
    font-family: Pacifico, cursive;
}

#about,
#travels {
    background-color: #E0E0E0;
}
.text-colored {
    color: #007BFF;
}
.nav-travel .nav-link.active{
    background-color: #007BFF;
    color: #E0E0E0;
}

.nav-travel .nav-link:hover{
    color: #007BFF;
}

